.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.kaushan {
  font-family: KaushanScript;
}

.rojak-logo {
  font-family: KaushanScript;
  font-size: 24px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: KaushanScript;
  src: url(KaushanScript-Regular.otf)
}


.item-title{
  font-size: 24px;
  font-family: KaushanScript;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  padding-left: 10px;
  padding-top: 5px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}

.item-body {
  font-size: 18px;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.img-disp {
  border-radius: 25px;
  margin: 25px;
}